<div class="autocomplete">
    <form [formGroup]="autocompleteForm">
        <input
        type="text"
        class="form-control"
        (input)="onInput()"
        placeholder="Type something..."
        formControlName="search"
        />
        <ul *ngIf="suggestions.length > 0">
            <li
                *ngFor="let suggestion of suggestions"
                (click)="selectSuggestion(suggestion)"
            >
                {{ suggestion }}
            </li>
        </ul>
    </form>
</div>
